
/* Image and search form css */

.pro-header{
	padding: 120px 0;
	height: 100%;
	background-size: cover;
	background-position: center; 
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Courier New', Courier, monospace;
}
.pro-text{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 40px;
	margin: 0 auto;
 
}
span{
	color: #55A4D7;
	text-decoration: none;
}
.search-field{
	height: 37px;
	padding: 5px;
}
.prosearch{
	width: 400px;
}
.location{
	width: 200px;
}
.search-btn{
	height: 50px;
	width: 150px;
	background: #55A4D7;
	border: none; 
	color: #fff;
}
.search-btn:hover{
	background: #55A4D7;
	cursor: pointer;
}
.form-box{
	padding: 50px 0px;
	background:rgba(170, 157, 157, 0.5);
	padding: 30px 50px;
	border-radius: 15px;
}
input{
	font-size: 16px;
}
.pro-text select{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 25px;
}
/* End of header search css */
/* mark */
.mark{
	width: 90%;
	position: absolute;
	margin-top:140px;
}
.mark ul{
	margin-block-end: 0%;
	float: left;
   
	margin: 0 12%;
	background-color: transparent;
}
.mark ul li.sold{
background-color: rgb(247, 63, 7);
position: absolute; 
margin-left: 100px;
list-style-type: none;
padding: 5px;
border-radius: 12px;
color: aliceblue;
opacity: 0.8;

}
.mark ul li.available{
background-color: rgb(48, 206, 119);
position: absolute; 
margin-left: 100px;
list-style-type: none;
padding: 5px;
border-radius: 12px;
color: aliceblue;
opacity: 0.8;

}
.mark ul li:hover{
background-color: rgb(112, 91, 91);
}
/* web content css */
 .main{
 	padding: 50px 20px 20px 20px;
	 text-align: center;
	 margin-bottom: 30px;
 }
 .content{
	 padding: 0 0 50px 0;
	 margin: auto;
 }
 
 /* Footer css */
 .footer{
	 padding: 50px 0;
	 background-color: rgb(92, 94, 89);
	 line-height: 1.6em;
	  color: #01070c ;
 }
 .box-footer{
	 float: left;
	 width: 24%;
	 padding: 2px;
	
 }
 .title{
	 color: rgb(8, 14, 14);
	 margin: auto;
	  

 }
 .prod-container{
	 margin: auto;
	 
 }
 .box-footer li{
	 list-style: none;
 }
 .box-footer li a{
	font-size: 19px;
	 display: block;
	 text-decoration: none;
	 color: #797979;

 }
 .box-footer li a:hover{
	color:#444 ;
	font-weight: bold;

}
.locate{
	color: red;
}
 .title{
	 
	 color: rgb(59, 53, 53);
	 padding: 15px 0;
 }
 .copyright{
padding-top: 10px 0;
margin-top: 30px;
margin: 0 40%;

 }
 .copyright:after{
	 clear: both;
	 display: block;
	 content: "";
 }
 .social li{
	 display: inline-block;
	 list-style-type: none;
 }
 .social li a{
	color: #55A4D7;
	 display: block;
	 text-decoration: none;
	 padding: 5px 10px;
	 transition: transform .2s;
	 margin-bottom: 4px;
	 margin-left: 10px;
	 border: 2px solid #55A4D7;
	 border-radius: 50px;
	 
 }
 .social li a:hover{
	 color: rgb(231, 220, 198);
	transform: scale(1.3);
	border: 2px solid rgb(223, 211, 191);
 }
/* End of footer css */



/* ==== PRODUCT CSS */

.product{
	width: 330px;
	height: auto;
	float: left;
	padding: 10px;
	margin: 15px;
	background: #fff;
	margin-top: 30px;
	-webkit-box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	 
}
.product-img{
	width: 100%;
	
	height: auto;
	margin: auto;
}
.product-img img{
	max-width: 100%;
	height: 300px;
	height: auto;
	margin: auto;
}
.prod-heading{
	width: 100%;
	height: auto;
	margin: auto;
}
.prod-heading h1{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 0px;
	color: #55A4D7 ;
	padding: 10px 0px;
	text-transform: uppercase;
	font-weight: 700;
}
.prod-heading h1 a{
	color: #55A4D7 ;
}
 
.price{
	width: 100%;
	height: auto;
	margin: auto;
}
.price{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 0px;
	color: #5c3454 ;
	line-height: 1;
	font-weight: 700;
	padding: 10px;
}
 
.prod-detail{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.prod-detail p{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 15px;
	text-align: center;
	margin: 0px;
	color: #333;
	line-height: 1;
	font-weight: 500;  
}
.view-button{
	 padding: 10px;
	 background: #55A4D7;
	 margin: auto;
}
.view-button p a{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 0px;
	color: #fff;
	font-weight: 500;
	display: block;
	text-decoration: none;
}
.view-button:hover{  
	background:grey;
}
 
.product:hover .prod-detail, .product:hover .view-button{
	display: block;
}
.product:hover{
	-webkit-box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}
.product:hover .product-bottom{
	position: relative;
	top: 0;
	opacity: 1;
}
.title h1{
	color: #1d1919;
	font-size: 25px;
	 
}
.title{
	color: #ece7e7;
	font-size: 19px;
}
/* End of product css */


/* Style the list */
ul.breadcrumb {
	padding: 10px 66px;
	list-style: none;
	background-color: #eee;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
	display: inline;
	font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
	color: #33383d;
	text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
  }
  
 .box-footer title{
	color: #FFF;
 }
 